<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>پرداخت ناموفق</title>

    <style>
    </style>
</head>
<body>

<div class="wrapper blue">
    <div class="header__wrapper">
        <div class="header">
            <div class="sign">
                <img style="width: 150px;" src="../files/logo.png">
            </div>
        </div>
    </div>

    <h1>trip</h1>
    <div class="back">
        <a href=<%= refLinkPortal %>>
            <button class="panel">بازگشت به پنل مدیریت</button>
        </a>
        <a href=<%= refLinkPassengerApp %>>
            <button class="passengerApp">بازگشت به اپلیکیشن مسافر</button>
        </a>
    </div>

</div>
</body>
</html>